.header {
    background-color: white;
    width: 97.5%;
    display: flex;
    justify-content: space-between;
    box-shadow:0 10px 10px -10px darkgray;
    padding: 5px;
    padding-left: 25px;
    color: rgb(63, 63, 63);
}
.header p{
    font-size: larger;
    font-weight: 500;
}
.buttons {
    /* margin-right: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    /* margin-top: 15px0; */
    display: flex;
    align-items: center ;
    justify-items: center;
    margin: 7px;
    padding: 5px;
    padding: 7px;
    border-radius: 5px;
    height: 30px;
    background-color:#0d6efd ;
    border: #0d6efd;
    color: white;
}
.buttons p {
    /* margin-top: 15px0; */
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center ;
    justify-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    /* height: 30px; */
    background-color:#0d6efd ;
    border: #0d6efd;
    color: white;
}
.buttons p:hover{
    
    border: #0d6efd;
    background-color: #3f8cff;
}