.home {
  /* background-color:red ; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  /* flex-grow: 1; */
}

.heading {
  font-size: larger;
}
