.CompanyInfo {
  display: flex;
  flex-direction: column;
}
.CompanyInfo button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  border: solid rgb(255, 29, 29);
  background-color: rgb(255, 29, 29);
  color: white;
  align-self: flex-end;
}
.CompanyInfo button:hover {
  background-color: rgb(254, 82, 82);
  border: solid rgb(254, 82, 82);
}
