.container{
display: flex;

height: 350px;
width: 350px;
flex-direction: column ;
align-items: center;
    background-color: aquamarine;
    border-bottom: solid black;
    margin-left: 15px;
}
.Movie {
    padding: 15px;
    display: flex;
}

.Movie img {
    height: 145px;
    width: 100px;
}

.container button {
    background-color:#0d6efd ;
    padding: 5px;
width: 80%;
}